/* --------------------------------*/
/* GENERAL SETTINGS */
/* --------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    color: #535353;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

h3 {
    margin-bottom: 5%;
}

h4 {
    margin-bottom: 2%;
}

.icon-big {
    font-size: 200%;
    display: block;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}

p {
    text-align: justify;
}

.box {
    padding: 1%;
    margin-bottom: 5%;
}

/* --------------------------------*/
/* PRINCIPAL SECTION */
/* --------------------------------*/

.title {
    display: inline-block;
    margin-left: 10px;
}

.title h1 {
    margin-top: 15px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-left: 10px;
}

.main-nav li {
    display: inline-block;
    margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #535353;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.3em;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #181818;
}

.motto {
    display: inline-block;
    margin-left: 10px;
}

.motto h2 {
    margin-top: 50%;
}

.motto-cell-phone {
    display: none;
}

.principal-image {
    background-image: url(img/principal_section_image.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    width: 65vh;
    float: right;
}